* {
font-family: Helvetica;
}
* button{
	text-align: center;
	color: white;
	padding:8px;
	border: none;
	border-radius: 5px;
	background-color: #aaa;
	height: 39px;
	font-size: 22px;
}
* button:hover{
	background-color: #999;
	transition:0.3s;
}
div div ul li button,div div ul li button:visited{
	color:white;
	text-decoration: none;
	height:auto;
}
div ul li{
	color:#666;
}
table{
border-collapse: collapse;
width: 100%;
background-color: #888888;
border-radius: 8px;
}
table tr th p{
  color:white;
}
table tr th{
	height: 0px;
	font-size:45px;
	border-radius: 8px;
}
table tr th:hover{
	background-color: #777;
	transition:0.5s;
}
* iframe {
border: none;
}
body {
	background-color: #EEEEEE;
}
* input{
	background-color: white;
	padding:5px;
	margin-top:0px;
	margin-bottom:10px;
	height: 30px;
	font-size:25px;
	border: 2px;
	border-radius: 5px;
}
li {
 padding: 8px;
}
* strong{
	font-size: 60px;
	color: #333;
}
* p{
	font-size: 30px;
}